.container {
  min-height: 100vh;
  max-width: 1440px;
  /* padding-top: 56px; /1* header height *1/ */
  @apply my-0 mx-auto;
  @apply flex justify-center items-start flex-col;
  @apply text-center;
}

/** LIGHT MODE */
.light-mode {
}
